	<!--ARTICULO CR7 UNITED-->
    <article class="post"><!-- First Article (Main Post) -->
        <div class="post-img">
            <img class="w-100 img-fluid"  src="assets/img/deportes/river-camiseta.webp" alt="Snow" ">
        </div>
        
        <div class="post-content"><!-- (Main Article) Post Details -->
            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: wheat;">Los cambios que se vienen en la camiseta</h2>
            <p>
                En el 2022 se vienen importantes modificaciones en la indumentaria oficial de River que le dejarán al club una muy buena suma de dinero. 
            </p>
        </div>
        <a href="/casaca-river" class="btn btn-danger">ver mas</a> <br><br>

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <br>
        <br>

          <br> <br>
     </article><!-- x ----------- End First Article (Main Post) ------------ x -->
                     <!--END ARTICULO CR7 UNITED-->
