<article class="post"><!-- First Article (Main Post) -->
    <div class="post-img">
        <img class="w-100 img-fluid"  src="assets/img/internacional/MIA-KHALIFA.webp" alt="Snow" ">
    </div>
    
    <div class="post-content"><!-- (Main Article) Post Details -->
        <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: wheat;">Vuelve al cine?</h2>
        <p>La actriz anuncio que regresa a las camaras
       </p>
    </div>

    <a href="/mia-khalifa" class="btn btn-danger">More</a> <br><br>


    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <br>
    <br>


   


      <br> <br>
 </article><!-- x ----------- End First Article (Main Post) ------------ x -->
